.section-resources-intro {
  @include sectionspace;
  background: var(--black);
  .resources-intro {
    &__paragraph {
      font-size: 30px;
      line-height: 36px;
      color: var(--white);
      font-weight: var(--weight-md);
      letter-spacing: -0.035em;
      text-align: left;
      padding-top: 20px;
      @media only screen and (max-width: 1200px) {
        font-size: calc(var(--size-l));
        line-height: 32px;
      }
      @media only screen and (max-width: 600px) {
        font-size: calc(var(--size-m) + 2px);
        line-height: 27px;
      }
    }
  }
}

.section-resources {
  @include sectionspace;
  background: var(--black);
  .resources {
    &__tab {
      padding-bottom: 40px;
      display: flex;
      justify-content: space-between;
      overflow: auto;
      width: 50%;
      @media only screen and (max-width: 1200px) {
        width: 75%;
      }
      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
    &__link {
      cursor: pointer;
      display: inline-block;
      text-decoration: none;
      font-size: var(--size-m);
      font-weight: var(--weight-md);
      color: var(--white);
      transition: all 0.3s;
      line-height: 24px;
      text-align: left;
      transition: all 0.3s;
      white-space: nowrap;
      @media only screen and (max-width: 600px) {
        margin-right: 60px;
        font-size: var(--size-s);
        line-height: 21px;
      }
      &:hover {
        color: rgba(0, 255, 195, 0.61);
      }
      &.active {
        color: var(--text-green);
      }
    }
    &__container {
      padding-top: 30px;
    }
    &__wrapper {
      display: flex;
      //   justify-content: space-between;
      flex-wrap: wrap;
      @media only screen and (max-width: 600px) {
        flex-direction: column;
      }
    }
    &__item {
      animation: fade 1.5s ease-in-out;
      display: none;
      &.active {
        display: block;
      }
    }
    &__card {
      padding-bottom: 50px;
      padding-right: 50px;
      flex: 0 0 33.33333%;
      max-width: 33.33333%;
      @media only screen and (max-width: 1024px) {
        flex: 0 0 50%;
        max-width: 50%;
      }
      @media only screen and (max-width: 600px) {
        flex: 0 0 100%;
        max-width: 100%;
        padding-right: 0;
      }
      &__link {
        display: block;
        text-decoration: none;
      }
      &__image {
        display: block;
        width: 100%;
      }
      &__body {
        padding-top: 25px;
      }
      &__header {
        font-size: var(--size-m);
        font-weight: var(--weight-md);
        color: var(--text-green);
        line-height: 18px;
        padding-bottom: 25px;
      }
      &__paragraph {
        color: var(--white);
        font-size: calc(var(--size-m) + 2px);
        font-weight: var(--weight-md);
        line-height: 27px;
        text-align: left;
        padding-bottom: 10px;
      }
    }
  }
}
