.header {
  &__top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--span-m) var(--span-m);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px;
    z-index: 9;
    width: 100%;
    background-color: var(--dark);
    // box-shadow: 0 5px 20px rgba(26, 26, 26, 0.5);
    @media only screen and (max-width: 768px) {
      top: 0;
    }
    @media only screen and (max-width: 600px) {
      padding: var(--span-m) calc(var(--span-m) / 2);
      height: 45px;
    }
    .menu-bar {
      cursor: pointer;
    }
  }
}

.logo-box {
  .logo-link {
    display: inline-block;
    height: 100%;
  }
  img {
    height: 30px;
  }
}
