.sidebar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  bottom: 0;
  z-index: 8;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-left: var(--span-m);
  background-color: rgba(26, 26, 26, 1);
  box-shadow: 0 5px 20px rgba(26, 26, 26, 0.5);
  @media only screen and (max-width: 600px) {
    display: none;
  }
  &__info {
    transform: rotate(-180deg);
    transform-origin: center;
    writing-mode: vertical-rl;
    display: block;
    padding-left: 20px;
  }

  &__email {
    color: var(--white);
    font-family: var(--family--2);
    font-size: calc(var(--size-xs));
    font-weight: var(--weight-lg);
    line-height: 18px;
    letter-spacing: -0.035em;
    text-align: left;
    width: 100%;
    display: block;
    text-decoration: none;
  }
}
