.icon {
  &__background {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    &--1,
    &--4 {
      background: var(--white);
    }
    &--2,
    &--5 {
      background: var(--green);
    }
    &--3 {
      background: var(--icon-purple);
    }
  }

  &__scale--hover {
    svg {
      polyline {
        stroke: var(--white);
      }
      line {
        stroke: var(--white);
      }
    }
    &--1,
    &--4 {
      background: var(--white);
    }

    &--2,
    &--5 {
      background: var(--green);
    }

    &--3 {
      background: var(--icon-purple);
    }
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s;
    display: flex !important;
    justify-content: center;
    align-items: center;
  }
}
