.section-pagination {
  background: var(--dark);
  margin-top: -3px;
  padding-top: 48px;
  padding-bottom: 48px;
  .pagination {
    &__list {
      display: flex;
      list-style-type: none;
      justify-content: center;
    }
    &__item {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }
    &__link {
      display: inline-block;
      text-decoration: none;
      width: 100%;
      padding: 10px 20px;
      text-align: center;
      transition: all 0.3s;
      font-family: var(--family--2);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      letter-spacing: -0.035em;
      line-height: 24px;
      text-align: left;
      border-radius: 10px;
      color: var(--text-green);
      &:hover {
        background: var(--white);
      }
      &.active {
        background: var(--text-green);
        color: var(--white);
      }
    }
  }
}
