// Margin tops: unit = 10px

.mt-1 {
  margin-top: calc(var(--unit) * 1) !important;
}
.mt-2 {
  margin-top: calc(var(--unit) * 2) !important;
}
.mt-3 {
  margin-top: calc(var(--unit) * 3) !important;
}
.mt-4 {
  margin-top: calc(var(--unit) * 4) !important;
}
.mt-5 {
  margin-top: calc(var(--unit) * 5) !important;
}

// margin bottoms : unit = 10px

.mb-1 {
  margin-bottom: calc(var(--unit) * 1) !important;
}
.mb-2 {
  margin-bottom: calc(var(--unit) * 2) !important;
}
.mb-3 {
  margin-bottom: calc(var(--unit) * 3) !important;
}
.mb-4 {
  margin-bottom: calc(var(--unit) * 4) !important;
}
.mb-5 {
  margin-bottom: calc(var(--unit) * 5) !important;
}

// padding bottoms : unit = 10px

.pb-1 {
  padding-bottom: calc(var(--unit) * 1) !important;
}
.pb-2 {
  padding-bottom: calc(var(--unit) * 2) !important;
}
.pb-3 {
  padding-bottom: calc(var(--unit) * 3) !important;
}
.pb-4 {
  padding-bottom: calc(var(--unit) * 4) !important;
}
.pb-5 {
  padding-bottom: calc(var(--unit) * 5) !important;
}

// padding vertical: unit = 10px
.pv-1 {
  padding-top: calc(var(--unit) * 1) !important;
  padding-bottom: calc(var(--unit) * 1) !important;
}
.pv-2 {
  padding-top: calc(var(--unit) * 2) !important;
  padding-bottom: calc(var(--unit) * 2) !important;
}
.pv-3 {
  padding-top: calc(var(--unit) * 3) !important;
  padding-bottom: calc(var(--unit) * 3) !important;
}
.pv-4 {
  padding-top: calc(var(--unit) * 4) !important;
  padding-bottom: calc(var(--unit) * 4) !important;
}
.pv-5 {
  padding-top: calc(var(--unit) * 5) !important;
  padding-bottom: calc(var(--unit) * 5) !important;
}

.u-clearfix {
  display: block;
  &::after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }
}
